{% sw_extends '@Storefront/storefront/page/account/register/index.html.twig' %}

{% block page_account_register_login_container %}

    <div class="col-lg-12">
        {% sw_include '@Storefront/storefront/component/account/login.html.twig' with {
            'cardTitle': "account.loginHeader"|trans|sw_sanitize
        } %}

        {% block page_account_register_advantages %}
        {% endblock %}
    </div>

{% endblock %}

{% block page_account_register_container %}

{% endblock %}
